@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

:root {
    --secondary-color: #780000;
    --main-font: "Darumadrop One", serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: var(--main-font);
    font-weight: 400;
    font-style: normal;
    min-width: 400px;
}

body {
    background-color: #ffc8dd;
}

img {
    image-rendering: pixelated;
}

h1 {
    color: red;
    -webkit-text-stroke: 0.5px var(--secondary-color);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container img {
    width: 35%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
}

.buttons-container {
    margin: 2rem;
    display: grid;
    width: 100%;
    max-width: 200px;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    text-align: center;
}

.buttons-container button {
    display: inline-block;
    border: 1px solid;
    border-radius: 0.25rem;
    border-color: var(--secondary-color);
    background-color: red;
    color: white;
    height: 3rem;
    font-family: var(--main-font);
    width: 5rem;
}

.buttons-container button:hover {
    color: red;
    background-color: white;
    border-color: red;
}

.buttons-container button:active {
    color: white;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.flowerPetals {
    display: none;
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
}

.flowerPetals img {
    height: 100%;
    width: 100%;
}

@media (1250px <= width) {
    h1 {
        font-size: 4rem;
    }
}

@media (650px >= width) {
    h1 {
        font-size: 2rem;
    }

}